body, html {
  width: 100%;
  height: auto;
  text-align: left;
  float: left;
  cursor: url('cursor.png'), auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
  letter-spacing: .01rem;
  padding: 3rem;

}

a {
  color: #aeaeae;
  border-bottom: 0.15rem dotted;
}

p a, ul a {
  color: #9abcd6;
}

a:hover {
  cursor: url('cursor-hover.png'), auto;
  color: #ffa500;
  text-decoration: none;
}

button {
  background-color: transparent;
}

h1 a {
  color: #9abcd6;
  border-bottom-style: none;
}

h1 a:hover {
  color: #ffa500;
  text-decoration: none;
}

:active {
  cursor: url('cursor-onclick.png'), auto;
}

a:active {
  cursor: url('cursor-onclick.png'), auto;
}

h1 {
  font-size: 4.2rem;
  font-weight: 700;
  font-style: italic;
  color: #9abcd6;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  font-style: italic;
  color: #636363;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 a {
  color: #636363;
}

h6 {
  font-family: 'Roboto Mono', monospace;
  color: #636363;
  line-height: 1.75rem;
}

p, ul {
  color: #636363;
}

.nav-links {
  padding-top: 12px;
}

.nav-links a {
  line-height: 2rem;
}

.intro {
  margin-bottom: 7rem;
}

.header-nav{
  margin-bottom: 2rem;
}

.about-me {
  padding-right: 1rem;
}

.bio-pic {
  padding: 0rem 0rem 2rem 0rem;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  color: #636363;
}

#top-button:hover {
  cursor: url('cursor-hover.png'), auto;
  color: #ffa500;
}

.top-text {
  font-size: 12px;
}
