@media only screen and (min-width: 1690px) {

  body, html {
    font-size: 18px;
  }
}


@media only screen and (max-width: 768px) {

  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 3rem;
  }

  body, html {
    padding: 2.5rem;
  }

  .intro {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 560px) {

  body, html {
    font-size: 14px;
    padding: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  .intro {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 480px) {

  body, html {
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
