body, html {
  width: 100%;
  height: 100%;
  text-align: left;
  float: left;
  cursor: url('cursor.png'), auto;
  color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  position: relative;
  letter-spacing: .01rem;
}

a {
  color: #aeaeae;
}

a:hover {
  cursor: url('cursor-hover.png'), auto;
  color: #ffa500;
  text-decoration: none;
}

:active {
  cursor: url('cursor-onclick.png'), auto;
}

a:active {
  cursor: url('cursor-onclick.png'), auto;
}

p {
  color: #636363;
  font-size: 1rem;
}

.no-1 {
  margin: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.no-2 {
  margin: 1.5rem;
  margin-top: 0;
}

.social {
  position: absolute;
  right: 1.5rem;
}

#home-sig-container {
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

#home-sig-container a img {
  height: 3rem;
  width: auto;
  margin-bottom: 2rem;
}

#nav-links {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

#heading {
  display: inline-flex;
  margin-bottom: 1rem;
  width: auto;
}

#heading h1 {
  font-size: 4.2rem;
  color: #9abcd6;
}

.description h1 {
  color: #636363;
  font-size: 2rem;
}

.description h1:hover {
  color: #ffa500;
}

.description h2 {
  font-family: 'Roboto Mono', monospace;
  color: #aeaeae;
  font-size: 1rem;
}

.description p {
  margin-top: 2rem;
  font-family: 'Roboto-Regular', sans-serif;
  font-style: normal;
  letter-spacing: .025rem;
}

.work-gallery {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  margin-bottom: 5rem;
}

.separator {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.thumbnail {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.thumbnail:hover {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2), 0 6px 35px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) {
  .no-2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .work-gallery {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
  }
}
