.App {
  margin: 2rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}


/* tablet */
/* @media only screen and (max-width: 768px) {
  .App {
    margin: 1rem;
  }
} */

/* mobile  */
@media only screen and (max-width: 560px) {
  .App {
    margin: 0.5rem;
  }
}
